
section{
    display: flex;
    gap: 16px;
}

img{
    box-sizing: border-box;
    border: 10px solid #2a4a5a;
    max-width: 100%;
    height: auto;
}

.leftpart{
    width: 38.2%;
}

.rightpart{
    width: 61.8%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


section p{
    white-space: pre-line;
    line-height: 1.5;
}